.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    
    width: 100%; 
    height: 70px;
}


.logo {
    width: 50px;
}

/* User avatar in header */
.user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Main content */
.home-main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Main title and description */
.home-main h2 {
    margin-bottom: 10px;
    font-size: 2rem; 
}

.home-main p {
    margin-bottom: 20px;
    font-size: 1.2rem; 
    
}

/* Options (cards) */
.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%; 
    max-width: 1200px; 
    margin: 20px auto;
}

/* Individual card styles */
.option {
    background: rgb(69,76,90);
    background: linear-gradient(180deg, rgba(69,76,90,1) 0%, rgba(29,32,39,1) 100%);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 200px; 
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.option:hover {
    transform: translateY(-5px); 
}

.option img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}

.option h3 {
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: 50px; 
    box-sizing: border-box;
}
