.day_card{
    background: rgb(17,19,23);
    background: linear-gradient(180deg, rgba(17,19,23,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 15px;

    .title_container{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rebeccapurple; /*placeholder*/

        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .actual_content{
        display: flex;
        flex-direction: column;
        margin: 10px;
        p{
            word-wrap: break-word;
        }   
    }

    button{
        background: rgb(13,58,117);
        background: linear-gradient(180deg, rgba(13,58,117,1) 0%, rgba(6,27,56,1) 100%);
        width: 40px;
        height: 40px;
        color: white;

        border-radius: 15px;
        border: none;

        font-size: 20px;

        margin: 10px;
    }

    button:hover{
        background: rgb(70,40,0);
        background: linear-gradient(0deg, rgba(70,40,0,1) 0%, rgba(255,127,0,1) 100%);
    }
}