footer{
    background: rgb(13,58,117);
    background: linear-gradient(180deg, rgba(13,58,117,1) 0%, rgba(6,27,56,1) 100%);

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
}