/* Set up a full-page layout */
body, html, #root, .App {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; /* Stack header, main, and footer vertically */
}

/* Header Style */
#header {
  background: linear-gradient(180deg, rgba(13, 58, 117, 1) 0%, rgba(6, 27, 56, 1) 100%);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#header .bizchats_logo {
  height: 50px; /* Ensure consistent logo size */
}

#header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#header ul li {
  margin-right: 15px;
}

#header ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

#header ul li a:hover {
  color: #61dafb; /* Highlight on hover */
}

/* Main Content Style */
main {
  flex: 1; /* Dynamically fill the available space between header and footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  /* color: white; */
  box-sizing: border-box;
}

/* Footer Style */
footer {
  background: linear-gradient(180deg, rgba(13, 58, 117, 1) 0%, rgba(6, 27, 56, 1) 100%);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}
