.header{
    display: flex;
    justify-content: space-between;
    background: rgb(13,58,117);
    background: linear-gradient(180deg, rgba(13,58,117,1) 0%, rgba(6,27,56,1) 100%);
    align-items: center;

    .bizchats_logo{
        height: 50px;
    }
    
    ul{
        list-style:none;
        display: flex;
        li{
            a{ /*it shows 'Link' in the js but it's supposed to be an anchor tag here*/
                color: white;
            }
        }
    }
}