.profile_card {
    background: rgb(69,76,90);
    background: linear-gradient(180deg, rgba(69,76,90,1) 0%, rgba(29,32,39,1) 100%);
    width: 300px;

    border-radius: 15px;

    padding: 10px;

    .pfp_and_name{
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            width: 100px;
            height: 100px;
            border-radius: 15px;

            margin-right: 10px;
        }

        h4{
            user-select: none;
        }
    }

    p{
        user-select: none;
    }

    button{
        background: rgb(13,58,117);
        background: linear-gradient(180deg, rgba(13,58,117,1) 0%, rgba(6,27,56,1) 100%);
        width: 40px;
        height: 40px;
        color: white;

        border-radius: 15px;
        border: none;

        font-size: 20px;
    }

    button:hover{
        background: rgb(70,40,0);
        background: linear-gradient(0deg, rgba(70,40,0,1) 0%, rgba(255,127,0,1) 100%);
    }
}